<a href="https://colab.research.google.com/github/rosiecao/Team_Final_Project/blob/main/GWU_Data_Analytics_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Final Project 

## Purpose of this final project

* write purpose of final project here

## About the Team

The team is composed of three students that are a part of the July 2021 - Febraury 2022 GWU Data Analytics Professional Certificate cohort. These students include:

1. Shamir Parham
> To access Shamir's GitHub account, to see all his program- or work-related projects, you can go [here](https://github.com/Shamirp).

2. Huong (Rosie) Cao
> To access Rosie's GitHub account, to see all his program- or work-related projects, you can go [here](https://github.com/rosiecao).

3. Bailey Adkins
> To access Bailey's GitHub account, to see all his program- or work-related projects, you can go [here](https://github.com/badkins2908).

## Role Assignments

Square: Rosie

*The team member in the square role will be responsible for the repository. As well as for the visualization of the data.*

Triangle: Shamir

*The member in the triangle role will create a mockup of a machine learning model. This can even be a diagram that explains how it will work concurrently with the rest of the project steps.*

Circle: Bailey

*The member in the circle role will create a mockup of a database with a set of sample data, or even fabricated data. This will ensure the database will work seamlessly with the rest of the project.*

X: Whole Team

*The whole team will decide on best technologies to use for each stage of the project.*

## GitHub Repository

-------

** Requirements - this will be deleted later **

1.   Main Branch
> The main branch should include:
> README.md

2.   README.md
> The README.md should include:
> *   Description of the communication protocols

3. Individual Branches
> Requirements for the individual branches follow:
> * At least one branch for each team member
> * Each team member has at least four commits for the duration of the first segment

----------

The following GitHub Respositories for Final Project:

Main Repository: https://github.com/rosiecao/Team_Final_Project

Shamir's Branch: https://github.com/rosiecao/Team_Final_Project/tree/Shamir

Bailey's Branch:

## Topic, Data Sources, and Technologies

1. Selected topic and reason for topic selected
> We chose for our final project to clean and combine county property value assessment data, crime data, and ommunity resiliency indicator data for San Francisco. This data will then be visualized together, using GEOJSON, such that when looking at the best areas to potentially move to or live in, property values, crime data for the area and environmental health of that neighborhood can all be taken into account to make the best decision on where to move, buy, or live. This topic was chosen due to the readily available data, as well as an interest in seeing if this information will come together in a truly useful way.


> > > Previous work in this space: There has been a degree of previous work in the space. [Realtor.com](https://www.npr.org/2020/08/26/905551631/major-real-estate-website-now-shows-flood-risk-should-they-all) does have an incorporated feature that tells the risk of a property to flood. In addition, [HouseCanary](https://www.housecanary.com/products/data-points/) does have the data points our project is looking to present, but you need to pay access to their database and the data is presented per house and not as map layers. 


2. Sources of data

> * Property Value data: https://data.sfgov.org/Housing-and-Buildings/Assessor-Historical-Secured-Property-Tax-Rolls/wv5m-vpq2/data

> * San Francisco crime data: https://data.sfgov.org/Public-Safety/Map-of-Police-Department-Incident-Reports-2018-to-/jq29-s5wp

> * Community Resiliency: https://data.sfgov.org/Health-and-Social-Services/Community-Resiliency-Indicator-System/banc-xdvr/data 

3. Questions we hope to answer with the data
> We are hoping this project will allow individuals interested in real estate in San Fransico to also take into account crime data for the area, property values of the area, as well as potential for environmental health factors of the area, to aid in their purchasing or rental decision making process.

4. Technologies for each stage

> * Evaluating the datasets, Data Cleaning and Exploratory Analysis: 
Python will be used to import csv files to dataframes, to explore and clean data in order to establish a good dataset to import into database tables.

> * Database Storage: The data will be stores in sqLite database.

> * Machine Learning
SciKitLearn is the ML library we'll be using to create a classifier. Our training and testing setup is ___. Extra ML verbiage here.

> * Dashboard: 
GeoJSON will be used with HTML and CSS to present overlapping layers on a interactive map. (or Tableau will be used to visualize the different layers on an interactive map of San Francisco)

## Database Model + Data Dictionary

To see the visual schema of the sqLite database, as well the data dictionary for each dataset (table): [DB Schema](https://drive.google.com/file/d/1zMCzaFGsRjlVzsnGYrUh8-SjzrpvTqhi/view?usp=sharing)

Further data descriptions for Resiliency, can be found [here](https://data.sfgov.org/api/views/banc-xdvr/files/JThIwZSDAm5AAw087Uwi2lZDUevVQqy1br38NZtJOqs?download=true&filename=SFDPH_CommunityResiliencyIndicatorMethods.pdf).

Any additional information on datasets, including assessing the raw datasets can be found by following the links in the previous section under "Topic, Data Sources, and Technologies".

## Machine Learning Model

*Maybe we can look at doing a model that predicts the best houses to buy, based on cost, size, low crime, and low flooding risk? Or something along those lines?

* Can complete this by training multiple unsupervised machine learning models (Shamir POA)

# Data Exploration and Cleaning

### This will include importing the data in order to best understand how to load it into database tables, clean the data and then import into tables within sqLite database, then carry out any further exploratory analysis.

## Importing Data

In [3]:
import pandas as pd
import json

In [4]:
# First: Read in all csv data into dataframes in order to evaluate and clean
# CSV files are all within Google Drive this project is working out of, here: https://drive.google.com/drive/folders/1fNxRx1LUCMFouu3zLvGrsuTQgdpVJGX8

# May need to install PyDrive
#!pip install -U -q PyDrive

# Allow access to Google Drive to access csv files for project
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
  
  
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [5]:
# may need to install condacolab and geopandas
!pip install -q condacolab
import condacolab
condacolab.install()

‚ú®üç∞‚ú® Everything looks OK!

In [6]:
!conda install geopandas
import pandas as pd
import geopandas as gpd

Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | done
Solving environment: - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | failed with initial frozen solve. Retrying with flexible solve.
Solving environment: - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / done
Solving environment: \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | done

## Package Plan ##

  environment location: /usr/local

  added / updated specs:
    - geopandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    attrs-21.4.0               |     pyhd8ed1ab_0          49 KB  conda-forge
    boost-cpp-1.74.0           |       hc6e9bd1_3        16.3 MB  conda-forge
    branca-0.4.2               |     pyhd8ed1ab_0          26 KB  conda-forge
    ca-certificates-2021.10.8  |       ha878542_0         139 KB  conda-forge
    cairo-1.16.0               |    h6cf1ce9_1008         1.5 MB  conda-forge
    certifi-2021.10.8          |   py37h89c1867_1         145 KB  conda-forge
    cfitsio-3.470              |       hb418390_7         1.3 MB  conda-forge
    click-7.1.2                |     pyh9f0ad1d_0          64 KB  conda-forge
    click-plugins-1.1.1        |             py_0           9 KB  conda-forge
    cligj-0.7.2                |     pyhd8ed1ab_1          10 KB  conda-forge
    conda-4.11.0               |   py37h89c1867_0        16.9 MB  conda-forge
    cudatoolkit-11.1.1         |       h6406543_8        1.20 GB  conda-forge
    curl-7.75.0                |       h979ede3_0         147 KB  conda-forge
    cycler-0.11.0              |     pyhd8ed1ab_0          10 KB  conda-forge
    expat-2.4.1                |       h9c3ff4c_0         182 KB  conda-forge
    fiona-1.8.20               |   py37ha0cc35a_0         1.1 MB  conda-forge
    folium-0.12.1.post1        |     pyhd8ed1ab_1          64 KB  conda-forge
    fontconfig-2.13.1          |    hba837de_1005         357 KB  conda-forge
    freetype-2.10.4            |       h0708190_1         890 KB  conda-forge
    freexl-1.0.6               |       h7f98852_0          48 KB  conda-forge
    gdal-3.2.2                 |   py37hb0e9ad2_0         1.5 MB  conda-forge
    geopandas-0.10.2           |     pyhd8ed1ab_1           5 KB  conda-forge
    geopandas-base-0.10.2      |     pyha770c72_1         982 KB  conda-forge
    geos-3.9.1                 |       h9c3ff4c_2         1.1 MB  conda-forge
    geotiff-1.6.0              |       hcf90da6_5         296 KB  conda-forge
    gettext-0.19.8.1           |    h0b5b191_1005         3.6 MB  conda-forge
    giflib-5.2.1               |       h36c2ea0_2          77 KB  conda-forge
    hdf4-4.2.15                |       h10796ff_3         950 KB  conda-forge
    hdf5-1.10.6                |nompi_h6a2412b_1114         3.1 MB  conda-forge
    jinja2-3.0.3               |     pyhd8ed1ab_0          99 KB  conda-forge
    joblib-1.1.0               |     pyhd8ed1ab_0         210 KB  conda-forge
    jpeg-9d                    |       h36c2ea0_0         264 KB  conda-forge
    json-c-0.15                |       h98cffda_0         274 KB  conda-forge
    kealib-1.4.14              |       hcc255d8_2         186 KB  conda-forge
    kiwisolver-1.3.1           |   py37h2527ec5_1          78 KB  conda-forge
    lcms2-2.12                 |       hddcbb42_0         443 KB  conda-forge
    libblas-3.9.0              |11_linux64_openblas          12 KB  conda-forge
    libcblas-3.9.0             |11_linux64_openblas          11 KB  conda-forge
    libdap4-3.20.6             |       hd7c4107_2        11.3 MB  conda-forge
    libgdal-3.2.2              |       h804b7da_0        13.2 MB  conda-forge
    libgfortran-ng-11.2.0      |      h69a702a_11          19 KB  conda-forge
    libgfortran5-11.2.0        |      h5c6108e_11         1.7 MB  conda-forge
    libglib-2.68.3             |       h3e27bee_0         3.1 MB  conda-forge
    libkml-1.3.0               |    h238a007_1014         591 KB  conda-forge
    liblapack-3.9.0            |11_linux64_openblas          11 KB  conda-forge
    libnetcdf-4.7.4            |nompi_h56d31a8_107         1.3 MB  conda-forge
    libopenblas-0.3.17         |pthreads_h8fe5266_1         9.2 MB  conda-forge
    libpng-1.6.37              |       h21135ba_2         306 KB  conda-forge
    libpq-13.2                 |       hfd2b0eb_2         2.7 MB  conda-forge
    librttopo-1.1.0            |       h1185371_6         235 KB  conda-forge
    libspatialindex-1.9.3      |       h9c3ff4c_4         4.6 MB  conda-forge
    libspatialite-5.0.1        |       h20cb978_4         4.4 MB  conda-forge
    libtiff-4.2.0              |       hbd63e13_2         639 KB  conda-forge
    libuuid-2.32.1             |    h7f98852_1000          28 KB  conda-forge
    libwebp-base-1.2.0         |       h7f98852_2         815 KB  conda-forge
    libxcb-1.13                |    h7f98852_1003         395 KB  conda-forge
    mapclassify-2.4.3          |     pyhd8ed1ab_0          36 KB  conda-forge
    markupsafe-2.0.1           |   py37h5e8e339_0          22 KB  conda-forge
    matplotlib-base-3.4.2      |   py37hdd32ed1_0         7.2 MB  conda-forge
    munch-2.5.0                |             py_0          12 KB  conda-forge
    networkx-2.6.3             |     pyhd8ed1ab_1         1.5 MB  conda-forge
    numpy-1.21.1               |   py37h038b26d_0         6.1 MB  conda-forge
    olefile-0.46               |     pyh9f0ad1d_1          32 KB  conda-forge
    openjpeg-2.4.0             |       hb52868f_1         444 KB  conda-forge

In [7]:
# Read in Tax Value Assessment data from Google Drive

link = 'https://drive.google.com/file/d/17inJxIv-Yogdc4yYhaPdqiAs4mQvolhw/view'
  
# to get the id part of the file
id = link.split("/")[-2]
  
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Assessor_Historical_Secured_Property_Tax_Rolls.csv')  
  
property_df = pd.read_csv('Assessor_Historical_Secured_Property_Tax_Rolls.csv')
print(property_df)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         Closed Roll Year  ... Neighborhoods
0                    2012  ...           NaN
1                    2013  ...           NaN
2                    2007  ...           NaN
3                    2014  ...           NaN
4                    2008  ...           NaN
...                   ...  ...           ...
2666112              2019  ...          64.0
2666113              2019  ...          65.0
2666114              2019  ...          43.0
2666115              2019  ...          62.0
2666116              2019  ...          65.0

[2666117 rows x 54 columns]

In [8]:
# NOTE: Due to RAM limitations, the CSV file was used instead of GeoJSON file
# Read in Assessor data from Google Drive (GeoJSON file)

#link = 'https://drive.google.com/file/d/1-zf_P7sYCJp7iBNJe7aQF7ucVQhk5Yvb/view?usp=sharing'
  
# to get the id part of the file
#id = link.split("/")[-2]
  
#downloaded = drive.CreateFile({'id':id}) 
##downloaded.GetContentFile('Assessor Historical Secured Property Tax Rolls.geojson')  
  
#geoproperty_df = gpd.read_file('Assessor Historical Secured Property Tax Rolls.geojson', rows=500)
#print(geoproperty_df)

In [9]:
# Read in Crime data from Google Drive

link = 'https://drive.google.com/file/d/16DErDyTtvijVLeERbwbCJnW3SvhqE9a1/view'
  
# to get the id part of the file
id = link.split("/")[-2]
  
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Police_Department_Incident_Reports__2018_to_Present.csv')  
  
crime_df = pd.read_csv('Police_Department_Incident_Reports__2018_to_Present.csv')
print(crime_df)

             Incident Datetime  ... Current Police Districts
0       2019/03/05 09:00:00 PM  ...                      5.0
1       2018/12/22 12:00:00 PM  ...                      4.0
2       2018/08/24 05:30:00 PM  ...                      9.0
3       2018/10/20 03:10:00 PM  ...                      1.0
4       2019/06/05 12:36:00 AM  ...                      6.0
...                        ...  ...                      ...
547792  2021/01/15 08:00:00 PM  ...                      5.0
547793  2020/08/01 05:34:00 PM  ...                      8.0
547794  2020/06/01 01:55:00 AM  ...                      2.0
547795  2020/10/24 05:00:00 PM  ...                      4.0
547796  2020/11/19 08:30:00 AM  ...                      9.0

[547797 rows x 34 columns]

In [10]:
# Read in Community Resiliency data from Google Drive

link = 'https://drive.google.com/file/d/1igl3G39PQ7M26KIpsn5IpWeLOnZiU9rO/view?usp=sharing'
  
# to get the id part of the file
id = link.split("/")[-2]
  
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Community_Resiliency_Indicator_System.csv')  
  
community_df = pd.read_csv('Community_Resiliency_Indicator_System.csv')
print(community_df)

                 Neighborhood  Flood_Per  ...  Res_Score  Res_Rank
0                     Bayview   0.068369  ...        1.0      35.0
1              Bernal Heights   0.000000  ...        3.0      16.0
2         Castro/Upper Market   0.000000  ...        5.0       2.0
3                   Chinatown   0.000000  ...        1.0      36.0
4              Crocker Amazon   0.000000  ...        1.0      30.0
5   Diamond Heights/Glen Park   0.000000  ...        5.0       5.0
6       Downtown/Civic Center   0.000000  ...        1.0      34.0
7                   Excelsior   0.000000  ...        2.0      29.0
8          Financial District   0.026447  ...        1.0      31.0
9            Golden Gate Park   0.022587  ...        NaN       NaN
10             Haight Ashbury   0.000000  ...        5.0       4.0
11             Inner Richmond   0.000000  ...        4.0      15.0
12               Inner Sunset   0.000000  ...        4.0      10.0
13                  Lakeshore   0.008689  ...        2.0      23.0
14                     Marina   0.007152  ...        4.0       9.0
15                    Mission   0.000000  ...        2.0      25.0
16                Mission Bay   0.132514  ...        3.0      17.0
17                   Nob Hill   0.000000  ...        3.0      19.0
18                 Noe Valley   0.000000  ...        5.0       3.0
19                North Beach   0.011395  ...        2.0      24.0
20                 Ocean View   0.000000  ...        2.0      27.0
21              Outer Mission   0.000000  ...        2.0      26.0
22             Outer Richmond   0.015642  ...        3.0      18.0
23               Outer Sunset   0.017670  ...        3.0      20.0
24            Pacific Heights   0.000000  ...        5.0       7.0
25                   Parkside   0.009789  ...        3.0      22.0
26               Potrero Hill   0.010071  ...        4.0      13.0
27                   Presidio   0.029715  ...        5.0       1.0
28           Presidio Heights   0.000000  ...        4.0      11.0
29               Russian Hill   0.002798  ...        4.0      14.0
30                   Seacliff   0.037849  ...        5.0       6.0
31            South of Market   0.002380  ...        2.0      28.0
32        Treasure Island YBI   0.262905  ...        1.0      32.0
33                 Twin Peaks   0.000000  ...        4.0      12.0
34          Visitacion Valley   0.000000  ...        1.0      33.0
35         West of Twin Peaks   0.000000  ...        5.0       8.0
36           Western Addition   0.000000  ...        3.0      21.0

[37 rows x 51 columns]

In [11]:
# Read in Neighboor data from Google Drive

link = 'https://drive.google.com/file/d/1eTs2--HCQ3J768c_On_mqAy_t0zskHrE/view'
  
# to get the id part of the file
id = link.split("/")[-2]
  
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('San_Francisco_Analysis_Neighborhoods.csv')  
  
neighborhood_df = pd.read_csv('San_Francisco_Analysis_Neighborhoods.csv')

#neighborhoodgeo_df = gpd.GeoDataFrame(neighborhood_df, the_geom=gpd.points_from_xy(neighborhood_df.latitude, neighborhood_df.longitude))

neighborhood_df.head()

                                            the_geom                  NHOOD
0  MULTIPOLYGON (((-122.38157774241415 37.7530704...  Bayview Hunters Point
1  MULTIPOLYGON (((-122.40361299982803 37.7493370...         Bernal Heights
2  MULTIPOLYGON (((-122.42655500055683 37.7694849...    Castro/Upper Market
3  MULTIPOLYGON (((-122.4062259995664 37.79755900...              Chinatown
4  MULTIPOLYGON (((-122.42398200023331 37.7315519...              Excelsior

## *Prepping Neighborhood Dataset

Need to do:
1. For Neighborhood Geo data, need to figure out how to get multipolygon data into proper geo data, so we can ensure neighborhoods in community resiliency dataset have geo locations attached (need to join this geo data to resiliency data)

Something like this:
https://gis.stackexchange.com/questions/208546/check-if-a-point-falls-within-a-multipolygon-with-python/208574

In [12]:
neighborhood_df.head()

                                            the_geom                  NHOOD
0  MULTIPOLYGON (((-122.38157774241415 37.7530704...  Bayview Hunters Point
1  MULTIPOLYGON (((-122.40361299982803 37.7493370...         Bernal Heights
2  MULTIPOLYGON (((-122.42655500055683 37.7694849...    Castro/Upper Market
3  MULTIPOLYGON (((-122.4062259995664 37.79755900...              Chinatown
4  MULTIPOLYGON (((-122.42398200023331 37.7315519...              Excelsior

In [13]:
# Rename NHOOD column to match Community Resiliency column
neighborhood_df.rename(columns={'NHOOD': 'Neighborhood'}, inplace=True)
neighborhood_df.head()

                                            the_geom           Neighborhood
0  MULTIPOLYGON (((-122.38157774241415 37.7530704...  Bayview Hunters Point
1  MULTIPOLYGON (((-122.40361299982803 37.7493370...         Bernal Heights
2  MULTIPOLYGON (((-122.42655500055683 37.7694849...    Castro/Upper Market
3  MULTIPOLYGON (((-122.4062259995664 37.79755900...              Chinatown
4  MULTIPOLYGON (((-122.42398200023331 37.7315519...              Excelsior

In [14]:
community_df.head()

          Neighborhood  Flood_Per  Heat_Per  ...  Dem_Score  Res_Score  Res_Rank
0              Bayview   0.068369  0.586532  ...        1.0        1.0      35.0
1       Bernal Heights   0.000000  0.104888  ...        3.0        3.0      16.0
2  Castro/Upper Market   0.000000  0.002686  ...        5.0        5.0       2.0
3            Chinatown   0.000000  0.999761  ...        1.0        1.0      36.0
4       Crocker Amazon   0.000000  0.218043  ...        1.0        1.0      30.0

[5 rows x 51 columns]

In [15]:
# Merge geospatial data for neighborhoods into Community Resiliency
community_df = pd.merge(community_df, 
                      neighborhood_df, 
                      on ='Neighborhood', 
                      how ='inner')

community_df.head()

          Neighborhood  ...                                           the_geom
0       Bernal Heights  ...  MULTIPOLYGON (((-122.40361299982803 37.7493370...
1  Castro/Upper Market  ...  MULTIPOLYGON (((-122.42655500055683 37.7694849...
2            Chinatown  ...  MULTIPOLYGON (((-122.4062259995664 37.79755900...
3            Excelsior  ...  MULTIPOLYGON (((-122.42398200023331 37.7315519...
4     Golden Gate Park  ...  MULTIPOLYGON (((-122.44092200041324 37.7736349...

[5 rows x 52 columns]

## Prepping Tax Property Value Dataset

In [16]:
property_df.head(5)

   Closed Roll Year  ... Neighborhoods
0              2012  ...           NaN
1              2013  ...           NaN
2              2007  ...           NaN
3              2014  ...           NaN
4              2008  ...           NaN

[5 rows x 54 columns]

In [17]:
# seeing what values are in each main column

print("Use definition: ", property_df['Use Definition'].unique())

print("Years of assessment: ", property_df['Closed Roll Year'].unique())

Use definition:  [nan 'Commercial Misc' 'Single Family Residential' 'Government'
 'Miscellaneous/Mixed-Use' 'Multi-Family Residential' 'Commercial Office'
 'Commercial Retail' 'Commercial Hotel' 'Industrial']
Years of assessment:  [2012 2013 2007 2014 2008 2010 2009 2017 2019 2015 2018 2016 2011]

In [18]:
# creating dataframe only for single family residential

singlefamprop_df = property_df[(property_df['Use Definition'] == 'Single Family Residential')]
singlefamprop_df.head()

     Closed Roll Year  ... Neighborhoods
14               2019  ...           NaN
38               2019  ...           NaN
146              2019  ...           NaN
154              2019  ...           NaN
175              2018  ...           NaN

[5 rows x 54 columns]

In [19]:
# counting unique values in the_geom
n = len(pd.unique(singlefamprop_df['the_geom']))
total_rows = len(singlefamprop_df)
  
print("No.of.unique values for geo location :", 
      n, "out of ", total_rows)


# get the number fo NaN values in main columns
na_rows = singlefamprop_df['the_geom'].isna().sum()
print("No.of.null values for geo location :", 
      na_rows, "out of ", total_rows)

No.of.unique values for geo location : 105334 out of  1858214
No.of.null values for geo location : 141 out of  1858214

In [20]:
# filter out geo locations that are null
singlefamprop_df = singlefamprop_df[singlefamprop_df.the_geom.notnull()]

In [21]:
# after dropping nulls, get the number fo NaN values in main columns
na_rows = singlefamprop_df['the_geom'].isna().sum()
print("No.of.null values for geo location :", 
      na_rows, "out of ", total_rows)

No.of.null values for geo location : 0 out of  1858214

In [22]:
singlefamprop_df.head()

     Closed Roll Year  ... Neighborhoods
180              2011  ...         107.0
183              2011  ...          18.0
189              2011  ...         106.0
193              2011  ...          16.0
199              2011  ...         108.0

[5 rows x 54 columns]

In [23]:
# drop unneccessary columns

singlefamprop_df.drop('DELETE - Supervisor Districts 2', axis=1, inplace=True)
singlefamprop_df.drop('DELETE - Fire Prevention Districts 2', axis=1, inplace=True)
singlefamprop_df.drop('DELETE - Current Police Districts 2', axis=1, inplace=True)
singlefamprop_df.drop('DELETE - Zip Codes 2', axis=1, inplace=True)
singlefamprop_df.drop('DELETE - Neighborhoods 2', axis=1, inplace=True)
singlefamprop_df.drop('DELETE - Police Districts 2', axis=1, inplace=True)
singlefamprop_df.drop('Row ID', axis=1, inplace=True)
singlefamprop_df.drop('SF Find Neighborhoods 2', axis=1, inplace=True)
singlefamprop_df.drop('Current Police Districts 2', axis=1, inplace=True)
singlefamprop_df.drop('Current Supervisor Districts 2', axis=1, inplace=True)
singlefamprop_df.drop('Analysis Neighborhoods 2', axis=1, inplace=True)
singlefamprop_df.drop('Neighborhoods', axis=1, inplace=True)

In [24]:
singlefamprop_df.head()

     Closed Roll Year  ...                                   the_geom
180              2011  ...  POINT (-122.416651671947 37.800173447973)
183              2011  ...  POINT (-122.404983178782 37.800185037627)
189              2011  ...  POINT (-122.409453384978 37.802896545938)
193              2011  ...  POINT (-122.413658349661 37.791088946268)
199              2011  ...  POINT (-122.401242304066 37.792256860903)

[5 rows x 42 columns]

In [30]:
singlefamprop_df.dtypes

Closed Roll Year                      int64
Property Location                    object
Parcel Number                        object
Block                                object
Lot                                  object
Volume Number                         int64
Use Code                             object
Use Definition                       object
Property Class Code                  object
Property Class Code Definition       object
Year Property Built                 float64
Number of Bathrooms                 float64
Number of Bedrooms                    int64
Number of Rooms                     float64
Number of Stories                   float64
Number of Units                       int64
Zoning Code                          object
Construction Type                    object
Lot Depth                           float64
Lot Frontage                        float64
Property Area                         int64
Basement Area                       float64
Lot Area                            float64
Lot Code                             object
Tax Rate Area Code                  float64
Percent of Ownership                float64
Exemption Code                       object
Exemption Code Definition            object
Status Code                          object
Misc Exemption Value                  int64
Homeowner Exemption Value           float64
Current Sales Date                   object
Assessed Fixtures Value               int64
Assessed Improvement Value            int64
Assessed Land Value                   int64
Assessed Personal Property Value      int64
Assessor Neighborhood District      float64
Assessor Neighborhood Code           object
Assessor Neighborhood                object
Supervisor District                 float64
Analysis Neighborhood                object
the_geom                             object
Latitude                             object
Total Assessed Value                  int64
dtype: object

In [32]:
singlefamprop_df['the_geom'].astype(str)

180            POINT (-122.416651671947 37.800173447973)
183            POINT (-122.404983178782 37.800185037627)
189            POINT (-122.409453384978 37.802896545938)
193            POINT (-122.413658349661 37.791088946268)
199            POINT (-122.401242304066 37.792256860903)
                               ...
2666112        POINT (-122.469234215927 37.720116938309)
2666113      POINT (-122.46903919315598 37.711526516997)
2666114         POINT (-122.483524712308 37.70956434276)
2666115        POINT (-122.473845101411 37.734423011387)
2666116    POINT (-122.46321903048002 37.71387055028001)
Name: the_geom, Length: 1858073, dtype: object

In [34]:
# Split out POINT data into lat long coordinates or regular expression
# Split on paren, and then split on space
# Long Lat
# Convert str to float
import re
# Create two lists for the loop results to be placed

# For each row in a varible,
for row in singlefamprop_df['the_geom']:
   singlefamprop_df['Coordinates'] = re.findall(r'\(.*?\)', ['the_geom'])

TypeError: ignored

In [26]:
singlefamprop_df['Total Assessed Value'] = singlefamprop_df['Assessed Improvement Value'] + singlefamprop_df['Assessed Land Value']

In [27]:
singlefamprop_df.head()

     Closed Roll Year  ... Total Assessed Value
180              2011  ...              1189283
183              2011  ...               403799
189              2011  ...               393958
193              2011  ...               239874
199              2011  ...               540000

[5 rows x 44 columns]

## Prepping Crime Dataset

In [28]:
crime_df.head()

        Incident Datetime  ... Current Police Districts
0  2019/03/05 09:00:00 PM  ...                      5.0
1  2018/12/22 12:00:00 PM  ...                      4.0
2  2018/08/24 05:30:00 PM  ...                      9.0
3  2018/10/20 03:10:00 PM  ...                      1.0
4  2019/06/05 12:36:00 AM  ...                      6.0

[5 rows x 34 columns]

In [29]:
# Types of incidents
print(crime_df['Incident Category'].unique())

['Larceny Theft' 'Motor Vehicle Theft' 'Warrant' 'Other Offenses'
 'Other Miscellaneous' 'Burglary'
 'Offences Against The Family And Children' 'Robbery' 'Lost Property'
 'Fraud' 'Malicious Mischief' 'Assault' 'Case Closure' 'Non-Criminal'
 'Arson' 'Recovered Vehicle' 'Traffic Violation Arrest' 'Drug Offense'
 'Disorderly Conduct' 'Sex Offense' 'Suspicious Occ' 'Missing Person'
 'Civil Sidewalks' 'Other' 'Miscellaneous Investigation' 'Weapons Offense'
 'Weapons Carrying Etc' 'Stolen Property' 'Forgery And Counterfeiting'
 'Vehicle Impounded' 'Prostitution' 'Courtesy Report' 'Suspicious'
 'Traffic Collision' 'Drug Violation' 'Fire Report' nan 'Vandalism'
 'Homicide' 'Vehicle Misplaced'
 'Human Trafficking (A), Commercial Sex Acts' 'Embezzlement' 'Gambling'
 'Liquor Laws' 'Motor Vehicle Theft?' 'Rape' 'Suicide' 'Weapons Offence'
 'Human Trafficking, Commercial Sex Acts'
 'Human Trafficking (B), Involuntary Servitude']

# Database Creation + Integration

In [ ]:
# Creating the database and importing the csv data into the tables

# Import required modules
import sqlite3
from sqlalchemy import create_engine

In [ ]:
# Connecting to the geeks database
connection = sqlite3.connect('final_project')
 
# Creating a cursor object to execute
# SQL queries on a database table
cursor = connection.cursor()

In [ ]:
# Connection String (once DB built)
DATA BASES = {
    'default': {
        'ENGINE'
    }
}

# Machine Learning

# Visualizing the Data

# Conclusion of Project and Future Analysis